<div id="header">
    <div>
        <div id="logo">
            <a href="/"><img src="images/logo.png" alt="LOGO"></a>
        </div>
        <ul id="navigation">
            <li class="selected">
                <a href="/">Accueil</a>
            </li>
            <li>
                <a href="/about">A propos</a>
            </li>
            <li>
                <a href="/gallery">Galerie</a>
            </li>
             <li>
                <a href="/shop">Boutique</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</div>