<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>About - Wood Working Website Template</title>
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	
	<div id="contents">
		<div>
			<div class="body" id="about">
				<div id="sidebar">
					<div class="body">
						<img src="" alt="Img">
						<div class="contact">
							<p>
								Vous pouvez m'apeler au: <b>06.29.00.00.00</b> Me trouver à l'adresse suivante: <b>44 route Saint Florent<br> 85000 LA ROCHE SUR YON</b> ou bien vous pouvez m'envoyez un mail: <b class="email">info@lbdprojet.com</b>
							</p>
						</div>
					</div>
				</div>
				<div id="main">
					<h1>A propos</h1>
					<h4>We Have Free Templates for Everyone</h4>
					<p>
						Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What's more, they're absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the <a href="http://www.freewebsitetemplates.com/about/terms/">Terms of Use</a>. You can even remove all our links if you want to.
					</p>
					<h4>We Have More Templates for You</h4>
					<p>
						Looking for more templates? Just browse through all our <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> and find what you're looking for. But if you don't find any website template you can use, you can try our <a href="http://www.freewebsitetemplates.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you're looking for something different, something special. And we love the challenge of doing something different and something special.
					</p>
					<h4>Be Part of Our Community</h4>
					<p>
						If you're experiencing issues and concerns about this website template, join the discussion <a href="http://www.freewebsitetemplates.com/forums/">on our forum</a> and meet other people in the community who share the same interests with you.
					</p>
					<h4>Template details</h4>
					<p>
						Design version 7<br> Code version 2<br><br> Website Template details, discussion and updates for this<br> <a href="http://www.freewebsitetemplates.com/discuss/woodworkingwebsitetemplate/">Wood Working Website Template</a>.<br><br> Website Template design by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>.<br><br> <span>Please feel free to remove some or all the text and links of this page and replace it with your own About content.</span>
					</p>
				</div>
			</div>
		</div>
	</div>

</body>
</html>