{{!-- <!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Contact - Wood Working Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<div id="logo">
				<a href="/"><img src="images/logo.png" alt="LOGO"></a>
			</div>
			<ul id="navigation">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li>
					<a href="/about">A propos</a>
				</li>
				<li>
					<a href="/gallery">Galerie</a>
				</li>
				
				<li class="selected">
					<a href="/contact">Contact</a>
				</li>
			</ul>
		</div>
	</div> --}}
	<div id="contents">
		<div>
			<div class="body" id="contact">
				<div id="sidebar">
					<div class="body">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10956.769060111128!2d-1.416884431553989!3d46.64271757913247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480425753374ca69%3A0x16d251a4ab7f4fac!2s44%20Route%20de%20Saint-Florent%20des%20Bois%2C%2085000%20La%20Roche-sur-Yon!5e0!3m2!1sfr!2sfr!4v1588923643671!5m2!1sfr!2sfr" width="600" height="800" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
						<div class="contact">
							<p>
								Vous pouvez m'apeler au: <b>06.29.00.00.00</b> Me trouver à l'adresse suivante: <b>44 route Saint Florent<br> 85000 LA ROCHE SUR YON</b> ou bien vous pouvez m'envoyez un mail: <b class="email">info@lbdprojet.com</b>
							</p>
						</div>
					</div>
				</div>
				<div id="main">
					<h1>Contact</h1>
					<p>
						This website template has been designed by  for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the .
					</p>
					<form action="#" method="post">
						<label>Nom</label>
						<input type="text" value="">
						<label>Email</label>
						<input type="text" value="">
						<label>Numéro de téléphone</label>
						<input type="text" value="">
						<label>Message</label>
						<textarea></textarea>
						<input type="submit" value="Envoyez" class="btn1">
					</form>
				</div>
			</div>
		</div>
		
	</div>
	{{!-- <div id="footer">
		<div>
			<div id="links">
				<div class="showroom">
					<h4>Visit our Showroom</h4>
					<a href="gallery.html"><img src="images/show-room.png" alt="Img"></a>
					<p>
						4885 Wilson Street<br> Victorville, CA 92392<br><br> 760-962-9541<br><br> <a href="index.html">info@carvedcreations.com</a>
					</p>
				</div>
				<div>
					<h4>Recent  Posts</h4>
					<ul class="posts">
						<li>
							<span class="time">Apr 16</span>
							<p>
								<a href="shop.html">The Carving Master &amp; Owner</a> Maybe you’re looking for something diferent, something special.
							</p>
						</li>
						<li>
							<span class="time">Apr 15</span>
							<p>
								<a href="shop.html">5 Star Hotels We Supply</a> And we love the challenge of doing something diferent and something special.
							</p>
						</li>
						<li>
							<span class="time">Apr 14</span>
							<p>
								<a href="shop.html">How To Pick The Right Furniture For You</a> What’s more, they’re absolutely free! You can do a lot with them.
							</p>
						</li>
					</ul>
				</div>
				<div>
					<form action="#" method="post" id="newsletter">
						<h4>Join Our Newsletter</h4>
						<input type="text" value="Enter Email Address Here For Updates" onBlur="javascript:if(this.value==''){this.value=this.defaultValue;}" onFocus="javascript:if(this.value==this.defaultValue){this.value='';}">
						<input type="submit" value="Sign up" class="btn2">
					</form>
					<div id="connect">
						<h4>Social Media</h4>
						<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a> <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a> <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a>
					</div>
				</div>
			</div>
			<ul class="navigation">
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="gallery.html">Gallery</a>
				</li>
				<li>
					<a href="shop.html">shop</a>
				</li>
				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
			<p id="footnote">
				© Copyright 2023. All Rights Reserved.
			</p>
		</div>
	</div> --}}
</body>
</html>

				{{!-- <div id="main">
					<h1>Contact</h1>
					<p>
						N'hésitez à me contacter pour plus de renseignements
					</p>
					<form action="" method="post">
						<label>Nom</label>
						<input type="text" value="">
						<label>Email</label>
						<input type="email" value="">
						<label>Contact Number</label>
						<input type="text" value="">
						<label>Message</label>
						<textarea></textarea>
						<input type="submit" value="Send Message" class="btn1">
					</form>
				</div> --}}
		
