
	
	<div id="contents">
		<div>
			<div class="body">
				<div class="col-md-12">
				<div id="adbox">
					<img src="images/chair.jpg" alt="Img"> <span class="info"> Whicker Chair <em>$250.00</em>  <a href="/gallery" class="btn1">Voir le détails</a> </span>
					<div class="details">
						<h1>Des créations unique sur mesure....</h1>
						<p>
							You can choose from our wide selection of furnitures on display. Either for your home, office or other estab- lishments. If you can’t find what you need, we can make it according to your needs.
						</p>
					</div>
				</div>
				</div>
				<ul id="featured"class="col-md-4">
					<li >
						<div>
							<img src="images/buffetbas.jpg" alt="Img"> 
						</div>
						<div class="details">
							
							<h4><a href="/ameublement">Ameublement</a> </h4>
									<p>Bois, Métal...selon vos envies</p>						 
						
						</div>
					</li>
					<li class="bedroom"class="col-md-4">
						<div>
							<img src="images/fleurs.jpg" alt="Img"> 
						</div>
						<div class="details">
							<h4> <a href="/decoration">Décoration</a></h4>
							<p>Un objet de déco selon vos goûts</p>
						</div>
					</li>
					<li class="kitchen"class="col-md-4">
						<div>
							<img src="images/portemanteau.jpg" alt="Img"> 
						</div>
						<div class="details">
							<h4><a href="/oeuvres">Diverses Oeuvres</a></h4>
							<p>
								Quand l'artiste s'envole dans un autre monde.
							</p>
						</div>
					</li>
				</ul>
				<div class="contact" class="col-md-3">
							<p>
								Bientôt ma boutique pour réserver votre création
							</p>
					
				</div>
				<div class="shop"class="col-md-9">
					<h4>Evènement</h4>
					<div>
						<img src="images/carving-small.png" alt="Img"> <span>April 16, 2023</span>
						<p>
							CC's Carving
						</p>
						<a href="shop.html" class="more">Read More</a>
					</div>
					<div>
						<img src="images/resort-small.png" alt="Img"> <span>April 15, 2023</span>
						<p>
							5 Star Resorts
						</p>
						<a href="shop.html" class="more">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
